$tf
.vs
.tmp
.svn
build
platforms
simulation
*.apk
*.ew
*.nw
*.user
*.vspscc
*.zip
*.7z
node_modules
bin
bld
plugins
*.tmp
tmp
.settings
.classpath
.project
*_Build
.gradle
gradle
gradlew
gradlew.bat
local.properties
.tfignore
.vscode
*.sln
*.jsproj
build.bat